<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-block google"
          (click)="googleSignInViaPopup()">
              <i class="fab fa-google"></i>Google Login with Popup
          </button>
          <button class="btn btn-primary btn-block facebook">
              <i class="fab fa-facebook-f"></i>Facebook Login with Popup
          </button>
          <button class="btn btn-primary btn-block twitter">
              <i class="fab fa-twitter"></i>Twitter Login with Popup
          </button>
          <button class="btn btn-primary btn-block github">
              <i class="fab fa-github"></i>Github Login with Popup
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-block google"
          (click)="googleSignInViaRedirect()">
              <i class="fab fa-google"></i>Google Login with Redirect
          </button>
          <button class="btn btn-primary btn-block facebook">
              <i class="fab fa-facebook-f"></i>Facebook Login with Redirect
          </button>
          <button class="btn btn-primary btn-block twitter">
              <i class="fab fa-twitter"></i>Twitter Login with Redirect
          </button>
          <button class="btn btn-primary btn-block github">
              <i class="fab fa-github"></i>Github Login with Redirect
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <button class="btn btn-primary btn-block email">
            <i class="fa fa-envelope"></i> Login with Email/Password
        </button>
        <button class="btn btn-primary btn-block phone">
            <i class="fa fa-phone"></i>Login with Phone
        </button>
        <button class="btn btn-primary btn-block anonymous">
            <i class="fa fa-user-secret"></i>Login with Anonymous
        </button>
      </div>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="text" class="form-control">
        </div>
        <button class="btn btn-primary btn-block">SignUp</button>
      </form>
    </div>
  </div>
</div>